//variable
$size-s: 0.5rem;
$size-sm: 0.7rem;
$size-m: 1rem;
$size-ml: 1.2rem;
$size-l: 1.5rem;
$size-x: 2rem;
$size-xl: 2.5rem;
$size-xxl: 3rem;

$white: #ffffff;
$primary_color: #FCAD05;
$second_color: #992134;


// font
@font-face {
    font-family: "prompt_bold";
    src: url("../public/static/fonts/Prompt-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "prompt_medium";
    src: url("../public/static/fonts/Prompt-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "prompt_regular";
    src: url("../public/static/fonts/Prompt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "engravers_mt";
    src: url("../public/static/fonts/ENGR.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


// mixin
@mixin flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }


// global
body {
    padding: 0;
    margin: 0;
    font-family: 'prompt_regular', sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
  }

img, svg {
    width: 100%;
    height: fit-content
}

.flex-center {
    @include flex-center();
}

.more {
    min-width: 150px;
    padding: 4px 0;
    border: 1px solid $primary_color;
    color: $primary_color;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
}


// by page
.section-banner {
    
    color: $white;
    .banner-list{
        position: relative;
        img {
            width: 100%;
        }
        .word-top {
            @include flex-center();
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            font-size: $size-xxl;

            &::after, &::before {
                content: '';
                width: 120px;
                border: 4px solid $white;
                margin: 0 12px;
                background: $white;
            }
        }
        .text-banner1 {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateX(-50%);
            text-align: center;
            font-size: $size-xl;
        }
        .text-banner2 {
            position: absolute;
            bottom: 50px;
            right: 20px;
            text-align: center;
            width: 600px;
            .title {
                display: block;
                font-size: $size-xxl;
            }
        }
        .text-banner3 {
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translateX(-50%);
            text-align: center;
            font-size: $size-xxl;
            color: black;
        }
    }
}

.section-property {
    
    .property-list {
        display: flex;
        &.red {
            margin-top: 40px;
            .img-product {
                order: 2;
            }
            .more {
                border-color: $second_color;
                color: $second_color;
            }
        }
    }
    .img-product {
        width: 40%;
        padding: 0 40px;
    }
    .property-product {
        padding: 0 40px;
        width: 60%;
        @include flex-center();
        flex-direction: column;
        .title {
            font-size: $size-xxl;
            margin-bottom: $size-m;
        }
        .description {
            margin-bottom: $size-m;
        }
        .box-content {
            display: flex;
            flex-wrap: wrap;
            > .list-icon {
                @include flex-center();
                flex-direction: column;
                width: 33%;
                padding: 8px 24px;

                .icon {
                    max-width: 100px;
                    width: 100%;
                    margin-bottom: $size-m;
                    &.yellow {
                        color: $primary_color;
                    }
                    &.red {
                        color: $second_color;
                    }
                }
                span {
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

.page-review {
    section {
        min-width: 100%;
        .box-article {
            position: relative;
            overflow: hidden;
            > div {
                cursor: pointer;
            }
        }
    }
    section:not(:first-child) {
        position: relative;
        .title-section {
            position: absolute;
            top: -2.2rem;
            left: 10px;
            font-size: 3rem;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                width: 120px;
                border: 4px solid #5F5346; 
                margin: 0 12px;
                background: #5F5346;
            }
        }
    }

    &.page1 {
        section:not(:first-child) {
            margin-top: 80px;
        }
        .section-review {
            background: linear-gradient(135deg, $primary_color, #FFE49A);
            .article-review {
                .icon {
                    position: absolute;
                    left: 50%;
                    bottom: -75px;
                    transform: translateX(-50%);
                }
            }
            .more {
                background: $white;
            }
        }
        .box-article {
            @include flex-center();
        }

    }
    &.page2 {
        .section-review {
            .article-review {
                @include flex-center();
                margin: unset;
                border-radius: unset;
                .box-content {
                    width: 40%;
                    order: 2;
                    .brand-name {
                        display: none;
                    }
                    .user-post {
                        text-align: center;
                        color: gray;
                    }
                }
                .icon {
                    order: 1;
                    margin-right: 70px;
                }
            }
            .article-review:nth-child(2n) {
                background: linear-gradient(90deg,#FFE49A, $primary_color);
                .box-content {
                    order: 1;
                }
                .icon {
                    order: 2;
                    margin-left: 70px;
                }
            }
        }
        .section-news {
            margin-top: 80px;
            .box-article {
                @include flex-center();
            }
        }
    }
    &.page3 {
        section:not(:first-child) {
            margin-top: 80px;
        }
        .section-review {
            background: linear-gradient(135deg, $primary_color, #FFE49A);
            .article-review {
                .icon {
                    position: absolute;
                    left: 50%;
                    bottom: -75px;
                    transform: translateX(-50%);
                }
            }
            .more {
                background: $white;
            }
        }
        .box-article {
            @include flex-center();
        }
    }
    
}

.article-review {
    position: relative;
    background: $white;
    min-width: 350px;
    margin: 70px 35px 140px;
    padding: 30px 30px 70px;
    border-radius: 20px;
    .box-content {
        @include flex-center();
        flex-direction: column;
    }
    .logo-article {
        width: 120px;
    }
    .brand-name {
        color: $primary_color;
        margin-top: 0.5rem;
    }
    .content {
        position: relative;
        padding: 40px;
        text-align: center;

        &::before, &::after {
            content: '"';
            position: absolute;
            font-size: 6rem;
            font-family: 'engravers_mt';
            color: $primary_color;
            line-height: 0.6;
        }
        &::before {
            top: -20px;
            left: -20px;
            transform: rotate(180deg);
        }
        &::after {
            bottom: -20px;
            right: -20px;
        }
        .title {
            display: block;
            margin-bottom: $size-m;
            font-size: $size-ml;
            font-weight: 500;
        }
    }
    .user-post {
        font-size: $size-sm;
        width: 100%;
        color: $primary_color;
        span {
            display: block;
        }
    }
    .icon {
        width: 150px;
    }
}

.article-why {
    margin: 70px 35px;
    width: 300px;
    .img {
        width: 100%;
    }
    .desciption {
        display: block;
        text-align: center;
        margin-top: $size-m;
        font-size: $size-l;
    }
}

.article-product {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    min-width: 350px;
    margin: 70px 35px;
    padding: 30px;
    color: $white;
    &.focus {
        transform: scale(1.3);
        margin: 90px;
    }
    .img-product {
        width: 50%;
        background: $white;
        border-radius: 50%;
        text-align: center;
        padding: $size-m;
        img {
            width: 50%;
        }
    }
    .content {
        position: relative;
        text-align: center;
        width: 80%;
        .title {
            display: block;
            margin-bottom: $size-m;
            font-size: $size-l;
            font-weight: 500;
        }
    }
    &::after {
        content: "⌵";
        @include flex-center();
        color: $primary_color;
        background-color: rgba($white, 0.8);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 2rem;
        line-height: 1;
        transform: rotate(180deg);
        cursor: pointer;
        position: relative;
        bottom: -20px;
    }
}

.article-news {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#FFE49A,  $primary_color);
    margin: 70px 35px;
    width: 300px;
    border-radius: 80px;
    padding-bottom: $size-l;
    .img-news {
        padding: 8px;
    }
    .desciption {
        display: block;
        text-align: center;
        margin-top: $size-m;
        padding: 0 24px;
    }
    &::after {
        content: "⌵";
        font-size: 5rem;
        cursor: pointer;
        line-height: 0.7;
    }
}

.section-intro {
    @include flex-center();
    flex-direction: column;
    .title {
        text-align: center;
        font-size: $size-xxl;
        span {
            display: block;
        }
    }

    .content {
        position: relative;
        margin-top: 20px;
        padding: 20px 0;
        max-width: 730px;
        span {
            display: block;
            text-align: center;
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
        &::after, &::before {
            content: '';
            border-bottom: 3px solid $primary_color;
            display: flex;
            width: 60%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &::after{
            top: 0;
        } 
        &::before {
            bottom: 0;
        }
    }
}

.section-ingredients, .section-difference {
    .box-content {
        width: 100%;
        display: flex;
        padding-top: 80px;
        .img-product {
            position: relative;
            left: -70px;
            width: 400px;
        }
        .content-icon {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            flex-grow: 1;
            
            .list-icon {
                display: flex;
                align-items: center;
                font-size: $size-ml;
                &:not(:first-child) {
                    margin-top: 20px;
                }
                .icon {
                    width: 70px;
                    min-width: 70px;
                    margin-right: 40px;
                }
            }
        }
    }
}
.section-ingredients {
    .box-content {
        .img-product {
            position: relative;
            left: -70px;
            width: 400px;
        }
        .content-icon {
            padding-left: 50px;
            .icon {
            color: $primary_color;
            }
        }
    }
}
.section-difference {
    background: $primary_color;
    .box-content {
        padding-bottom: 80px;
        .list-content {
            @include flex-center();
            flex-direction: column;
            width: 50%;
            &.white{
                color: white;
            }
            &.black{
                color: black;
            }
            .title {
                display: block;
                text-align: center;
                font-size: $size-x;
                margin-bottom: $size-m;
            }
            .content-icon {
                max-width: 500px;
            }
        }
    }
}